.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 50px;
}
.text p{
    margin: 0;
}
.prand h1{
    margin: 0;
    font-size: 25px;
}