* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

/* body {
  background-image: url(../src/assets/mmm.jpg);
  width: 100%;
  height: 100vh;
  height: auto;
  background-size: cover;
  background-position: center; 
   background-color: rgb(7, 6, 6); 
   background-color: rgb(27, 34, 86);
} */
