.container {
    width: 100%;
    margin-top: 20px;
}

.containt {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.crud {
    width: 250px;
    height: 450px;
    border: 2px solid #691b83;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
     color: rgb(119, 28, 63);
}

.text a {
    text-decoration: none;
   
}


